<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="tech.michalik"
  >

  <application
    android:allowBackup="true"
    android:icon="@drawable/pin_purple"
    android:supportsRtl="true"
    >

    <activity
      android:name="tech.michalik.MainActivity"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

  </application>

</manifest>
